body {
    margin: auto;
    max-width: 40em;
    font-family: serif;
    background-color: #A7BE9C;
  }

  .header {
    background-color: #A7BE9C;
    color: #144048;
  }
  .nav {
    color: #144048;
  } 

  .content {
    border: 1px #144048;
    margin: 1em;
    padding: 0.2em 0.5em;
    background-color: #89A27E; 
    color: #144048;
    padding: 1em;
    margin: 0.3em 0;
  }
  
  h1 {
    margin: 2;
    text-align: center;
  }

  h2 {
    margin: 0;
  }
  
  nav {
    text-align: center;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    padding: 0 1em;
    margin: 0;
  }
  
  nav li:not(:first-of-type) {
    margin-left: -0.25em;
  }
  
  nav li:not(:last-of-type) {
    border-right: 1px solid #144048;
  }
  
  .page-nav {
    text-align: center;
  }
  
  .message, .thread {
    border: 2px solid #144048;
    margin: 1em;
    padding: 0.2em 0.5em;
  }
  
  .info {
    border: 2px #144048;
    margin: 1em;
    padding: 0.5em;
    color: #A7BE9C;
  }

